h1 {
    font-size: 32px;
    line-height: 180%;
}

p {
    font-size: 20px;
}

.page {
    border: 8px solid #ff6d18;
}

.myDiv {
    text-align: left;
    line-height: 180%;
    margin: auto;
    width: 400px;
    padding: 25px;
    box-sizing: border-box;
}